body{
margin:0;
padding:0;
font-family:Arial;
text-align:center;
height:100vh;
overflow:hidden;
background:linear-gradient(45deg,#ff9a9e,#fad0c4,#ffdde1);
}

.container{
margin-top:80px;
}

h1{
color:white;
font-size:40px;
}

button{
padding:15px 30px;
font-size:18px;
margin:20px;
border:none;
border-radius:30px;
cursor:pointer;
}

#yesBtn{
background:red;
color:white;
}

#noBtn{
background:white;
position:absolute;
}

.couple-image{
width:250px;
border-radius:20px;
margin-top:20px;
box-shadow:0 0 25px rgba(255,0,100,0.6);
animation:zoomIn 2s ease;
}

@keyframes zoomIn{
from{
transform:scale(0.5);
opacity:0;
}
to{
transform:scale(1);
opacity:1;
}
}

#typing{
color:white;
font-size:24px;
margin-top:20px;
font-weight:bold;
}

.heart{
position:absolute;
font-size:20px;
animation:floatUp 5s linear infinite;
}

@keyframes floatUp{
0%{
transform:translateY(100vh);
opacity:1;
}
100%{
transform:translateY(-10vh);
opacity:0;
}
}